
.home{
  background-image: url('./assets/home.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}

@media (max-width: 600px) {
  .home {
    background-size: contain;
  }
 
 
}